/* Generic styles */
.datepicker {
	.icon-arrow-right,
	.icon-arrow-left {
		width: 100%;
	    height: 100%;
	    display: block;
	    position: relative;

	    &:after {
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	display: block;
	    	color: #000;
			font-style: normal;
			font-size: 30px;
			line-height: 20px;
	    }
	}

	.icon-arrow-left:after { content: "◂"; }
	.icon-arrow-right:after { content: "▸"; }
}


/* Dashboard styles */
.container.dashboard {

	.panel-heading {
		position: relative;

		.pagination-nav {
			position: absolute;
			right: 5px;
			top: 5px;

			ul.pagination {
				margin: 0;
				display: block;

				li span,
				li a {
					padding: 2px 8px;
					line-height: 21px;
				}
			}
		}
	}

	.edit-line-template {
		display: none;
	}

	.actions-td {
		text-align: center;

		a {
			display: inline-block;
			margin: 0 5px;
		}
	}

	.edit-actions {
		text-align: center;

		a, button {
			margin-top: 4px;
		}
	}
}

